@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff) format("woff"); }
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format("woff"); }
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff) format("woff"); }
html,
body {
  height: 100%; }

body {
  background-color: #12171A;
  color: #516774;
  border: 1px solid transparent;
  font-family: "Source Sans pro", sans-serif; }

a {
  color: white;
  text-decoration: none; }
  a:hover {
    color: inherit; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0.5); }

h1 {
  font-size: 5em;
  font-weight: normal;
  text-align: center;
  margin: 100px auto 30px;
  font-weight: 300; }

h2 {
  font-size: 2em;
  text-align: center;
  font-weight: 300; }

p {
  text-align: center; }

.buttons-container {
  margin: 100px auto;
  text-align: center; }
  .buttons-container [data-transformicon="button"] {
    margin: 0 1em; }
  .buttons-container .transformicon--plus {
    padding: 1.25rem 0; }

*:before, *:after {
  box-sizing: inherit;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

[data-transformicon="button"] {
  display: inline-block;
  border: none;
  background: none;
  cursor: pointer;
  user-select: none; }
  [data-transformicon="button"] > * {
    display: block; }
  [data-transformicon="button"]:focus {
    outline: none; }

.transformicon {
  padding: 2rem 1rem;
  transition: 0.3s; }

.transformicon__lines {
  display: inline-block;
  width: 4rem;
  height: 0.57143rem;
  background: white;
  border-radius: 8.5px;
  transition: 0.3s;
  position: relative; }
  .transformicon__lines:before, .transformicon__lines:after {
    display: inline-block;
    width: 4rem;
    height: 0.57143rem;
    background: white;
    border-radius: 8.5px;
    transition: 0.3s;
    position: absolute;
    left: 0;
    content: '';
    transform-origin: 0.28571rem center; }
  .transformicon__lines:before {
    top: 1rem; }
  .transformicon__lines:after {
    top: -1rem; }
  .is--closed .transformicon__lines {
    transform: scale3d(0.8, 0.8, 0.8); }

.transformicon-grid {
  padding: 2rem; }
  .transformicon-grid .transformicon__grid-item {
    width: 1rem;
    height: 1rem;
    background: #ecf0f1;
    color: #ecf0f1;
    /* Not in use when the colors are specified below */
    transition: 0.3s; }
  .transformicon-grid.is--closed .transformicon__grid-item {
    transform: rotate3d(0, 0, 1, -45deg) scale3d(0.8, 0.8, 0.8); }

.transformicon-grid--rearrange .transformicon__grid-item {
  box-shadow: -1.25rem -1.25rem, 0 -1.25rem, 1.25rem -1.25rem, -1.25rem 0, 1.25rem 0, -1.25rem 1.25rem, 0 1.25rem, 1.25rem 1.25rem; }
.transformicon-grid--rearrange.is--closed .transformicon__grid-item {
  box-shadow: 0 -1rem, 0 -2rem, 1rem 0, -2rem 0, 2rem 0, -1rem 0, 0 2rem, 0 1rem; }

.transformicon-grid--collapse .transformicon__grid-item {
  box-shadow: -1.25rem 0, -1.25rem 1.25rem, 1.25rem 0, 1.25rem -1.25rem, 0 -1.25rem, -1.25rem -1.25rem, 0 1.25rem, 1.25rem 1.25rem; }

.transformicon-grid--collapse.is--closed .transformicon__grid-item {
  box-shadow: -1rem 0, 0 0 transparent, 1rem 0, 0 0 transparent, 0 -1rem, 0 0 transparent, 0 1rem, 0 0 transparent; }

.transformicon-x.is--closed .transformicon__lines {
  background: transparent; }
  .transformicon-x.is--closed .transformicon__lines:before, .transformicon-x.is--closed .transformicon__lines:after {
    transform-origin: 50% 50%;
    top: 0;
    width: 4rem; }
  .transformicon-x.is--closed .transformicon__lines:before {
    transform: rotate3d(0, 0, 1, 45deg); }
  .transformicon-x.is--closed .transformicon__lines:after {
    transform: rotate3d(0, 0, 1, -45deg); }

.transformicon-x2 .transformicon__lines {
  transition: background .3s .5s ease; }
  .transformicon-x2 .transformicon__lines:before, .transformicon-x2 .transformicon__lines:after {
    transform-origin: 50% 50%;
    transition: top .3s .6s ease, transform .3s ease; }
.transformicon-x2.is--closed .transformicon__lines {
  transition: background .3s 0s ease;
  background: transparent; }
  .transformicon-x2.is--closed .transformicon__lines:before, .transformicon-x2.is--closed .transformicon__lines:after {
    transition: top .3s ease, transform .3s .5s ease;
    top: 0;
    width: 4rem; }
  .transformicon-x2.is--closed .transformicon__lines:before {
    transform: rotate3d(0, 0, 1, 45deg); }
  .transformicon-x2.is--closed .transformicon__lines:after {
    transform: rotate3d(0, 0, 1, -45deg); }

.transformicon-arrow.is--closed .transformicon__lines:before, .transformicon-arrow.is--closed .transformicon__lines:after {
  top: 0;
  width: 2.22222rem; }
.transformicon-arrow.is--closed .transformicon__lines:before {
  transform: rotate3d(0, 0, 1, 45deg); }
.transformicon-arrow.is--closed .transformicon__lines:after {
  transform: rotate3d(0, 0, 1, -45deg); }

.transformicon-arrow--up.is--closed {
  transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg); }

.transformicon-minus.is--closed .transformicon__lines:before, .transformicon-minus.is--closed .transformicon__lines:after {
  transform: none;
  top: 0;
  width: 4rem; }

.transformicon--plus {
  width: 68px;
  height: 68px;
  border: 5.66667px solid black;
  border-radius: 80%;
  position: relative;
  background: white; }
  .transformicon--plus:before, .transformicon--plus:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .3s all ease-in-out; }
  .transformicon--plus:before, .transformicon--plus:after {
    border-radius: 8.5px;
    top: 50%;
    transform: translate(50%, -50%) rotate(0);
    width: 50%;
    height: 5.66667px;
    background: black; }
  .transformicon--plus:after {
    top: 50%;
    width: 50%;
    height: 5.66667px;
    transform: translate(50%, -50%) rotate(90deg); }
  .transformicon--plus.is--closed:before {
    transform: translate(50%, -50%) rotate(45deg); }
  .transformicon--plus.is--closed:after {
    transform: translate(50%, -50%) rotate(-45deg); }

/*# sourceMappingURL=style.css.map */
