// Navigation
$navicon-color: white !default;
$navicon-transition: .3s !default;
$navicon-base: 1rem !default;
$navicon-space: $navicon-base/4 !default;
$navicon-size: 4rem !default;
$navicon-radius: $navicon-size/14 !default;


// Grid
$navicon-grid-color : #ecf0f1 !default;
$navicon-grid-transition: .3s !default;
$navicon-grid-base : 1rem !default;
$navicon-grid-space : $navicon-grid-base/4 !default;


// Add/Remove
$navicon-width: 68px;
$navicon-bg: white;
$navicon-circle-radius: 80%;
$navicon-radius: $navicon-width/8;
$navicon-plus-color: black;


// Video