<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{title}}</title>
    <meta name="description" content="{{description}}">

    <meta name="viewport" content="width=device-width, user-scalable=1, initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no">

    {{~#or basename 'builder, docs'}}
    <!-- build:css css/prism.min.css -->
    <link rel="stylesheet" href="css/prism.css">
    <!-- endbuild -->
    {{/or~}}

    <!-- build:css css/style.min.css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild -->
  </head>

  <body>
    <header role="banner">
      {{> logo}}
      <h1 class="tcon-title">Transformicons</h1>
      <p class="tcon-tagline">{{ description }}</p>
      {{> nav}}
    </header>

    <main role="main">
      {% body %}
    </main>

    {{> footer}}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/lib/jquery.js"><\/script>')</script>

    {{#is basename 'index'}}
    <!-- build:js js/build/index.min.js -->
    <script src="js/src/contributors.js"></script>
    <script src="js/lib/transformicons.js"></script>
    <!-- endbuild -->
    {{/is}}

    {{#is basename 'builder'}}
    <!-- build:js js/build/builder.min.js -->
    <script src="js/lib/prism.js"></script>
    <script src="js/src/contributors.js"></script>
    <script src="js/lib/transformicons.js"></script>
    <script src="js/src/compiler.js"></script>
    <script src="js/src/builder.js"></script>
    <!-- endbuild -->
    {{/is}}

    {{#is basename 'docs'}}
    <!-- build:js js/build/docs.min.js -->
    <script src="js/src/contributors.js"></script>
    <script src="js/lib/prism.js"></script>
    <!-- endbuild -->
    {{/is}}

    {{#or basename 'index, builder'}}
    <script>transformicons.add('.tcon');</script>
    {{/or}}
  </body>
</html>