<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">

    <meta name="viewport" content="width=device-width, user-scalable=1, initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- build:css css/styles.min.css -->
    {{#isnt basename 'index'}}
    <link rel="stylesheet" href="css/prism.css">
    {{/isnt}}
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild -->

    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
  </head>

  <body>
    <header role="banner">
      {{> logo}}
      <h1 class="tcon-title">Transformicons</h1>
      <p class="tcon-tagline">{{ description }}</p>
      {{> nav}}
    </header>

    <main role="main">
      {% body %}
    </main>

    {{> footer}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/lib/jquery.js"><\/script>')</script>

    <!-- build:js js/build/scripts.min.js -->
    {{#is basename 'index'}}
    <script src="js/src/contributors.js"></script>
    <script src="js/lib/transformicons.js"></script>
    {{/is}}

    {{#is basename 'builder'}}
    <script src="js/lib/prism.js"></script>
    <script src="js/src/contributors.js"></script>
    <script src="js/lib/transformicons.js"></script>
    <script src="js/src/compiler.js"></script>
    <script src="js/src/builder.js"></script>
    {{/is}}

    {{#is basename 'docs'}}
    <script src="js/src/contributors.js"></script>
    <script src="js/lib/prism.js"></script>
    {{/is}}
    <!-- endbuild -->

    <!-- Carbon Ads -->
    <script src="https://cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=transformiconscom" id="_carbonads_js" async></script>
    <script async>
    var styl = document.createElement('style'),
        head = document.getElementsByTagName('head')[0],
        css  = '#carbonads{position:fixed;top:0;left:0}.carbon-wrap{display:flex;flex-direction:column;max-width:140px;padding:4px;}.carbon-img{display:inline-block}.carbon-text{color:#F23B3D;text-decoration:none;font-size:12px}.carbon-poweredby{color:rgba(195,98,197,0.76);text-decoration:none;text-align:right;display:block;max-width:130px;font-size:12px;padding:4px;}';
    head.appendChild(styl);
    styl.innerHTML = css;
    </script>

    {{#isnt basename 'docs'}}
    <script>transformicons.add('.tcon');</script>
    {{/isnt}}
  </body>
</html>
