[data-tcon="icon"] {
  appearance: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $tcon-size;
  transition: $tcon-transition;
  width: $tcon-size;
  user-select: none;
  background: transparent;

  > * {
    display: block;
  }

  &:focus {
    outline: none;
  }
}