[data-tcon="icon"] {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	speak: none;
	width: 40px;
	> * { display: block; }
	&:focus { outline: none; }
}