// Buttons
// ===================================

.btn{
  border:none;
  position:relative;
  background:none;
  padding:28px 90px;
  display:inline-block;
  text-transform:uppercase;
  color:inherit;
  letter-spacing:2px;
  width: 100%;
  font-size:0.9em;
  outline:none;
  transition:all 0.4s;
  cursor:pointer;
  font-weight: 800;
  color: white;
  transform:rotateX(35deg);  
}
.btn:after{
  content:"";
  position:absolute;
  z-index:-1;
  transition:all 0.4s;
}
.btn_perspective{
  width: 100%;
  perspective:800px;
  display:inline-block;
}
.btn-3d{
  display:block;
  background:#E90000;
  outline:1px solid transparent;
  transform-style:preserve-3d;
}
.btn-3db:after{
  width:100%;
  height:40%;
  left:0;
  top:100%;
  background: #C01818;
  transform-origin: 0% 0%;
  transform:rotateX(-90deg);
}
.btn-3db:hover{
  transform:rotateX(20deg);
}


// Titles
// ===================================

.tcon-title {
  margin: 0;
  text-align: center;
  color: #FFFEFE;
}

.tcon-tagline {
  margin-top: 0;
  margin-bottom: 24px;
  color: #FFFEFE;
}

.tcon-builder__title {
  color: #C0A8A8;
  font-weight: 300;
}


// Site Layout
// ===================================

.tcon-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  box-shadow: 0 1px 0 rgb(219, 219, 219);
  padding: 25px 0;
  text-align: center;

  &:last-child {
    box-shadow: none;
  }

  .tcon-row__items {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 260px;

    .tcon {
      margin: 0 6px;
    }
  }

  h3 {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    color: #A8A8A8;
  }
}


// Form Builder
// ===================================

.tcons-items {
  box-shadow: inset 0 1px 0 white, 0 -1px 0 rgba(0, 0, 0, 0.04);
  display: flex;
  padding: 10px 0 0 !important;
}

.tcons-items li {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 6px;
  padding: 10px;
  position: relative;
}

#tcon-src--html {
  color: #CF6949;
}
#tcon-src--js {
  color: #EFEFEF;
}


.tcon-checkbox {
  $checkbox-style: rounded;
  $checkbox-sizing: 4rem;
  $checkbox-height: $checkbox-sizing / 1/4;
  $checkbox-position-unit: $checkbox-sizing * 3/4;
  $checkbox-speed: 150ms;
  $checkbox-off-bg: #E8DFE7;
  $checkbox-on-bg: #4fbe79;
  $checkbox-btn-bg: #FFFFFD;

  height: $checkbox-height;
  margin: 8px 0;
  position: relative;
  width: $checkbox-sizing;

  input[type=checkbox] {
    opacity: 0;
  }

  input[type=checkbox]:focus ~ label {
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.40),
                      1px 1px 1px rgba(255, 255, 255, 0.60);
    background: darken($checkbox-off-bg, 10%);
  }

  input[type=checkbox]:checked ~ label {
    background: $checkbox-on-bg;
    &:after {
      left: $checkbox-position-unit;
    }
  }

  label {
    @if $checkbox-style == rounded {
      border-radius: $checkbox-position-unit;
    }
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.27), 1px 1px 1px rgba(255, 255, 255, 0.71);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: background $checkbox-speed ease-in-out;
    text-indent: -9999em;
    background: $checkbox-off-bg;

    &:hover {
      cursor: pointer;
    }

    &:after {
      @if $checkbox-style == rounded {
        border-radius: $checkbox-position-unit;
      }
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.42);
      content: "";
      cursor: pointer;
      display: block;
      height: $checkbox-position-unit * 1/4;
      position: absolute;
      top: $checkbox-position-unit / 24;
      left: $checkbox-position-unit / 24 * 2;
      width: $checkbox-position-unit * 1/4;
      transition: left $checkbox-speed ease-in-out;
      z-index: 1;
      background: $checkbox-btn-bg;
      background-image:
        radial-gradient(50% 0%, 10% 50%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
        radial-gradient(50% 100%, 10% 50%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
        radial-gradient(0% 50%, 50% 10%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
        radial-gradient(100% 50%, 50% 06%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%);
      background-image: -webkit-radial-gradient(50% 0%, 10% 50%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%), -webkit-radial-gradient(50% 100%, 10% 50%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%), -webkit-radial-gradient(0% 50%, 50% 10%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%), -webkit-radial-gradient(100% 50%, 50% 6%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    }
  }
}


// GitHub Contributors
// ===================================

@keyframes avatar-fadein {
  to {
    opacity: 1;
  }
}

#tcons-contributors {
  animation: avatar-fadein 400ms 1 forwards ease-in;
  animation-delay: 900ms;
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
  opacity: 0;
}

.contributor-avatar {
  height: auto;
  max-width: 400px;
  width: 100%;
}