// Titles
// ===================================

.tcon-title {
  margin: 0;
  text-align: center;
  color: #FFFEFE;
}

.tcon-tagline {
  margin-top: 0;
  margin-bottom: 24px;
  color: #FFFEFE;
}


// Site Layout
// ===================================

.tcon-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  box-shadow: 0 1px 0 rgb(219, 219, 219);
  padding: 25px 0;
  text-align: center;

  &:last-child {
    box-shadow: none;
  }

  .tcon-row__items {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 260px;

    .tcon {
      margin: 0 6px;
    }
  }

  h3 {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    color: #A8A8A8;
  }
}


// Form Builder
// ===================================

.tcons-items {
  display: flex;
}

.tcons-items li {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 6px;
  padding: 10px;
  width: 50%;
  position: relative;
}

#tcon-src--html {
  color: #CF6949;
}
#tcon-src--js {
  color: #EFEFEF;
}

.tcon-ckbox {
  margin: 8px 0;
  width: 4rem;
  height: 1rem;
  position: relative;

  input {
    opacity: 0;
  }

  input[type=checkbox]:checked ~ label {
    background: #4fbe79;

    &:after {
      left: 3.125rem;
    }
  }

  label {
    border-radius: 3.125rem;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.27);
    background: #D8D8D8;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: background .2s ease-in-out;
    text-indent: -9999em;

    &:after {
      border-radius: 3.125rem;
      content: "";
      display: block;
      width: .75rem;
      height: .75rem;
      cursor: pointer;
      position: absolute;
      top: 0.125rem;
      left: .125rem;
      transition: left .2s ease-in-out;
      z-index: 1;
      background: #FFFFFD;
    }
  }
}


// GitHub Contributors
// ===================================

@keyframes avatar-fadein {
  to {
    opacity: 1;
  }
}

#tcons-contributors {
  animation: avatar-fadein 400ms 1 forwards ease-in;
  animation-delay: 900ms;
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
  opacity: 0;
}

.contributor-avatar {
  height: auto;
  max-width: 400px;
  width: 100%;
}