.transformicon-grid {
  padding: $navicon-grid-base*2;

  .transformicon__grid-item {
    width: $navicon-grid-base;
    height: $navicon-grid-base;
    background: $navicon-grid-color;
    color: $navicon-grid-color; /* Not in use when the colors are specified below */
    transition: $navicon-grid-transition;
  }

  &.is--closed {
    .transformicon__grid-item {
      transform: rotate3d(0,0,1,-45deg)  scale3d(.8,.8,.8);
    }
  }
}

.transformicon-grid--rearrange {
  .transformicon__grid-item {
    box-shadow:
      -($navicon-grid-base+$navicon-grid-space) 0 -($navicon-grid-base+$navicon-grid-space),
      0 0 -($navicon-grid-base+$navicon-grid-space),
      ($navicon-grid-base+$navicon-grid-space) (-($navicon-grid-base + $navicon-grid-space)),
      -($navicon-grid-base+$navicon-grid-space) 0,
      $navicon-grid-base+$navicon-grid-space 0,
      -($navicon-grid-base+$navicon-grid-space) ($navicon-grid-base + $navicon-grid-space),
      0 ($navicon-grid-base+$navicon-grid-space),
      ($navicon-grid-base+$navicon-grid-space) ($navicon-grid-base + $navicon-grid-space);
  }

  &.is--closed { 
    .transformicon__grid-item {
        box-shadow:
          0 0 -$navicon-grid-base,
          0 0 -$navicon-grid-base*2,
          $navicon-grid-base 0,
          -$navicon-grid-base*2 0,
          $navicon-grid-base*2 0,
          -$navicon-grid-base 0,
          0 $navicon-grid-base*2,
          0 $navicon-grid-base;
    }
  }
}

.transformicon-grid--collapse {
  .transformicon__grid-item {
    box-shadow:
    -($navicon-grid-base+$navicon-grid-space) 0,
    -($navicon-grid-base+$navicon-grid-space) ($navicon-grid-base+$navicon-grid-space),
    $navicon-grid-base+$navicon-grid-space 0,
    ($navicon-grid-base+$navicon-grid-space) (-($navicon-grid-base+$navicon-grid-space)),
    0 0 -($navicon-grid-base+$navicon-grid-space),
    -($navicon-grid-base+$navicon-grid-space) 0 -($navicon-grid-base+$navicon-grid-space),
    0 ($navicon-grid-base+$navicon-grid-space),
    ($navicon-grid-base+$navicon-grid-space) ($navicon-grid-base+$navicon-grid-space);
  } 
}

.transformicon-grid--collapse{
  &.is--closed {
    .transformicon__grid-item {
      box-shadow:
      -$navicon-grid-base 0,
      0 0 transparent,
      $navicon-grid-base 0,
      0 0 transparent,
      0 0 -$navicon-grid-base,
      0 0 transparent,
      0 $navicon-grid-base,
      0 0 transparent;
    }
  }
}