.transformicon {
  padding: $navicon-size/2 $navicon-size/4;
  transition: $navicon-transition;
}

.transformicon__lines {
  @include navicon_lines;
  position: relative;
  &:before,
  &:after {
   @include navicon_lines;
    position: absolute;
    left: 0;
    content: '';
    transform-origin: $navicon-size/14 center;
  }
  &:before { top: $navicon-size/4; }
  &:after { top: -$navicon-size/4; }

  .is--closed & {transform: scale3d(.8,.8,.8); }
}