$navicon-color: white !default;
$navicon-transition: .3s !default;
$navicon-base: 1rem !default;
$navicon-space: $navicon-base/4 !default;
$navicon-size: 4rem !default;
$navicon-radius: $navicon-size/14 !default;


$navicon-grid-color : #ecf0f1 !default;
$navicon-grid-transition: .3s !default;
$navicon-grid-base : 1rem !default;
$navicon-grid-space : $navicon-grid-base/4 !default;