.tcon-grid {
  padding: $tcon-grid-base*2;
  .tcon__grid-item {  
    width: $tcon-grid-base;
    height: $tcon-grid-base;
    background: $tcon-grid-color;
    color: $tcon-grid-color;
    transition: $tcon-transition;
  }
}

.tcon-grid.is-transformed {

  .tcon__grid-item {
    transform: rotate3d(0,0,1,-45deg)  scale3d(.8,.8,.8);
  }

}


.tcon-grid.tcon-grid--rearrange {

  .tcon__grid-item {
    box-shadow:
      -($tcon-grid-base+$tcon-grid-space) 0 -($tcon-grid-base+$tcon-grid-space),
      0 0 -($tcon-grid-base+$tcon-grid-space),
      ($tcon-grid-base+$tcon-grid-space) (-($tcon-grid-base + $tcon-grid-space)),
      -($tcon-grid-base+$tcon-grid-space) 0,
      $tcon-grid-base+$tcon-grid-space 0,
      -($tcon-grid-base+$tcon-grid-space) ($tcon-grid-base + $tcon-grid-space),
      0 ($tcon-grid-base+$tcon-grid-space),
      ($tcon-grid-base+$tcon-grid-space) ($tcon-grid-base + $tcon-grid-space);
  }

}


.tcon-grid--rearrange.is-transformed  { 

  .tcon__grid-item {
      box-shadow:
        0 0 -$tcon-grid-base,
        0 0 -$tcon-grid-base*2,
             $tcon-grid-base 0,
            -$tcon-grid-base*2 0,
             $tcon-grid-base*2 0,
            -$tcon-grid-base 0,
           0 $tcon-grid-base*2,
           0 $tcon-grid-base;
  }

}


.tcon-grid--collapse {

  .tcon__grid-item {
    box-shadow:
      -($tcon-grid-base+$tcon-grid-space) 0,
      -($tcon-grid-base+$tcon-grid-space) ($tcon-grid-base+$tcon-grid-space),
      $tcon-grid-base+$tcon-grid-space 0,
      ($tcon-grid-base+$tcon-grid-space) (-($tcon-grid-base+$tcon-grid-space)),
      0 0 -($tcon-grid-base+$tcon-grid-space),
      -($tcon-grid-base+$tcon-grid-space) 0 -($tcon-grid-base+$tcon-grid-space),
      0 ($tcon-grid-base+$tcon-grid-space),
      ($tcon-grid-base+$tcon-grid-space) ($tcon-grid-base+$tcon-grid-space);
  }

}


.tcon-grid--collapse.is-transformed {

  .tcon__grid-item {
    box-shadow:
      -$tcon-grid-base 0,
      0 0 transparent,
      $tcon-grid-base 0,
      0 0 transparent,
      0 0 -$tcon-grid-base,
      0 0 transparent,
      0 $tcon-grid-base,
      0 0 transparent;
  }

}