@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff) format('woff'); }

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff'); }

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff) format('woff'); }

*:before, *:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0; }

body {
  background: white;
  font-family: "Source Sans pro", sans-serif; }

a {
  color: black; }
  a:hover {
    text-decoration: none;
    color: inherit; }

h1 {
  font-size: 5em;
  font-weight: normal;
  font-weight: 300; }

h2 {
  font-size: 2em;
  text-align: center;
  font-weight: 300; }

header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 50vh;
  padding: 10px 0;
  width: 100%;
  background: #D40600; }

nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }
  nav a {
    border: 2px solid white;
    border-radius: 2px;
    transition: 0.3s border ease-in-out, 0.3s background ease-in-out, 0.3s color ease-in-out;
    text-decoration: none;
    display: inline-block;
    margin: auto 10px;
    padding: 20px;
    background: white;
    color: black; }
    nav a:hover {
      border: 2px solid white;
      background: transparent;
      color: white; }
    nav a:active {
      -webkit-transform: translateY(2px);
      transform: translateY(2px); }

main {
  display: block;
  max-width: 786px;
  margin: 0 auto;
  padding: 40px 0;
  width: 100%; }

footer {
  padding: 40px 0;
  text-align: center; }

.tcon-title {
  margin: 0;
  text-align: center;
  color: white; }
  .tcon-title:after {
    content: "Animated CSS Icons";
    margin-left: 6px;
    vertical-align: middle;
    font-size: 2rem;
    color: white; }

.tcon-tagline {
  margin-top: 0;
  margin-bottom: 48px;
  color: white; }

.tcon-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0 1px 0 #dbdbdb;
  padding: 25px 0;
  text-align: center; }
  .tcon-row:last-child {
    box-shadow: none; }
  .tcon-row .tcon-row__items {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .tcon-row h3 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    color: #D40600; }

[data-tcon="icon"] {
  appearance: none;
  border: none;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 40px;
  background: transparent; }
  [data-tcon="icon"] > * {
    display: block; }
  [data-tcon="icon"]:focus {
    outline: none; }

.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.tcon-menu__lines {
  display: inline-block;
  height: 5.71429px;
  width: 40px;
  border-radius: 2.85714px;
  transition: 0.3s;
  background: black;
  position: relative; }
  .tcon-menu__lines::before, .tcon-menu__lines::after {
    display: inline-block;
    height: 5.71429px;
    width: 40px;
    border-radius: 2.85714px;
    transition: 0.3s;
    background: black;
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    -webkit-transform-origin: 2.85714px center;
    transform-origin: 2.85714px center; }
  .tcon-menu__lines::before {
    top: 10px; }
  .tcon-menu__lines::after {
    top: -10px; }
  .is-transformed .tcon-menu__lines {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8); }

.tcon-grid {
  padding: 1rem; }
  .tcon-grid .tcon-grid__item {
    width: 0.5rem;
    height: 0.5rem;
    background: black;
    color: black;
    transition: 0.3s; }

.tcon-grid.is-transformed .tcon-grid__item {
  -webkit-transform: rotate3d(0, 0, 1, -45deg) scale3d(0.8, 0.8, 0.8);
  transform: rotate3d(0, 0, 1, -45deg) scale3d(0.8, 0.8, 0.8); }

.tcon-grid--rearrange .tcon-grid__item {
  box-shadow: -0.625rem -0.625rem, 0 -0.625rem, 0.625rem -0.625rem, -0.625rem 0, 0.625rem 0, -0.625rem 0.625rem, 0 0.625rem, 0.625rem 0.625rem; }

.tcon-grid--rearrange.is-transformed .tcon-grid__item {
  box-shadow: 0 -0.5rem, 0 -1rem, 0.5rem 0, -1rem 0, 1rem 0, -0.5rem 0, 0 1rem, 0 0.5rem; }

.tcon-grid--collapse .tcon-grid__item {
  box-shadow: -0.625rem 0, -0.625rem 0.625rem, 0.625rem 0, 0.625rem -0.625rem, 0 -0.625rem, -0.625rem -0.625rem, 0 0.625rem, 0.625rem 0.625rem; }

.tcon-grid--collapse.is-transformed .tcon-grid__item {
  box-shadow: -0.5rem 0, 0 0 transparent, 0.5rem 0, 0 0 transparent, 0 -0.5rem, 0 0 transparent, 0 0.5rem, 0 0 transparent; }

.tcon-menu--xcross {
  width: auto; }
  .tcon-menu--xcross.is-transformed .tcon-menu__lines {
    background: transparent; }
    .tcon-menu--xcross.is-transformed .tcon-menu__lines::before, .tcon-menu--xcross.is-transformed .tcon-menu__lines::after {
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      top: 0;
      width: 40px; }
    .tcon-menu--xcross.is-transformed .tcon-menu__lines::before {
      -webkit-transform: rotate3d(0, 0, 1, 45deg);
      transform: rotate3d(0, 0, 1, 45deg); }
    .tcon-menu--xcross.is-transformed .tcon-menu__lines::after {
      -webkit-transform: rotate3d(0, 0, 1, -45deg);
      transform: rotate3d(0, 0, 1, -45deg); }

.tcon-menu--xbutterfly {
  width: auto; }
  .tcon-menu--xbutterfly .tcon-menu__lines {
    transition: background 0.3s 0.5s ease; }
    .tcon-menu--xbutterfly .tcon-menu__lines::before, .tcon-menu--xbutterfly .tcon-menu__lines::after {
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      transition: top 0.3s 0.6s ease, -webkit-transform 0.3s ease;
      transition: top 0.3s 0.6s ease, transform 0.3s ease; }
  .tcon-menu--xbutterfly.is-transformed .tcon-menu__lines {
    transition: background 0.3s 0s ease;
    background: transparent; }
    .tcon-menu--xbutterfly.is-transformed .tcon-menu__lines::before, .tcon-menu--xbutterfly.is-transformed .tcon-menu__lines::after {
      transition: top 0.3s ease, -webkit-transform 0.3s 0.5s ease;
      transition: top 0.3s ease, transform 0.3s 0.5s ease;
      top: 0;
      width: 40px; }
    .tcon-menu--xbutterfly.is-transformed .tcon-menu__lines::before {
      -webkit-transform: rotate3d(0, 0, 1, 45deg);
      transform: rotate3d(0, 0, 1, 45deg); }
    .tcon-menu--xbutterfly.is-transformed .tcon-menu__lines::after {
      -webkit-transform: rotate3d(0, 0, 1, -45deg);
      transform: rotate3d(0, 0, 1, -45deg); }

.tcon-menu--arrow, .tcon-menu--arrowleft {
  width: auto; }
  .tcon-menu--arrow.is-transformed .tcon-menu__lines::before, .is-transformed.tcon-menu--arrowleft .tcon-menu__lines::before, .tcon-menu--arrow.is-transformed .tcon-menu__lines::after, .is-transformed.tcon-menu--arrowleft .tcon-menu__lines::after {
    top: 0;
    width: 22.22222px; }
  .tcon-menu--arrow.is-transformed .tcon-menu__lines::before, .is-transformed.tcon-menu--arrowleft .tcon-menu__lines::before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg); }
  .tcon-menu--arrow.is-transformed .tcon-menu__lines::after, .is-transformed.tcon-menu--arrowleft .tcon-menu__lines::after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg); }

.tcon-menu--arrowup {
  width: auto; }
  .tcon-menu--arrowup.is-transformed {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg);
    transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg); }

.tcon-menu--arrow360left.is-transformed {
  -webkit-transform: rotate3d(0, 0, 1, 360deg);
  transform: rotate3d(0, 0, 1, 360deg); }

.tcon-menu--minus {
  width: auto; }
  .tcon-menu--minus.is-transformed .tcon-menu__lines::before, .tcon-menu--minus.is-transformed .tcon-menu__lines::after {
    -webkit-transform: none;
    transform: none;
    top: 0;
    width: 40px; }

.tcon--plus {
  border: 3.33333px solid black;
  border-radius: 80%;
  position: relative;
  background: transparent; }
  .tcon--plus::before, .tcon--plus::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    transition: 0.3s all ease-in-out;
    border-radius: 5px;
    top: 50%;
    -webkit-transform: translate(50%, -50%) rotate(0);
    transform: translate(50%, -50%) rotate(0);
    width: 50%;
    height: 3.33333px;
    background: black; }
  .tcon--plus:after {
    top: 50%;
    width: 50%;
    height: 3.33333px;
    -webkit-transform: translate(50%, -50%) rotate(90deg);
    transform: translate(50%, -50%) rotate(90deg); }
  .tcon--plus.is-transformed::before {
    -webkit-transform: translate(50%, -50%) rotate(45deg);
    transform: translate(50%, -50%) rotate(45deg); }
  .tcon--plus.is-transformed::after {
    -webkit-transform: translate(50%, -50%) rotate(-45deg);
    transform: translate(50%, -50%) rotate(-45deg); }

.tcon--plusminus {
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: scale(1.25);
  transform: scale(1.25); }
  .tcon--plusminus::before, .tcon--plusminus::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    transition: 0.3s all ease-in-out;
    border-radius: 5px;
    top: 50%;
    -webkit-transform: translate(50%, -50%) rotate(0);
    transform: translate(50%, -50%) rotate(0);
    width: 50%;
    height: 3.33333px;
    background: black; }
  .tcon--plusminus::after {
    top: 50%;
    width: 50%;
    height: 3.33333px;
    -webkit-transform: translate(50%, -50%) rotate(90deg);
    transform: translate(50%, -50%) rotate(90deg); }
  .tcon--plusminus.is-transformed::after {
    -webkit-transform: translate(50%, -50%) rotate(0);
    transform: translate(50%, -50%) rotate(0); }

.tcon--plusck {
  height: 40px;
  position: relative;
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
  width: 40px; }
  .tcon--plusck::before, .tcon--plusck::after {
    content: "";
    border-radius: 2px;
    display: block;
    width: 34px;
    height: 10px;
    margin: -5px 0 0 -17px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.3s;
    background: black; }
  .tcon--plusck:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }

.tcon--plus-check.is-transformed:before {
  -webkit-transform: rotate(-135deg) translate(0px, -4px);
  transform: rotate(-135deg) translate(0px, -4px);
  width: 22px; }
.tcon--plus-check.is-transformed:after {
  -webkit-transform: rotate(-45deg) translate(4px, 4px);
  transform: rotate(-45deg) translate(4px, 4px);
  width: 34px; }

.tcon--plus-minus.is-transformed:before {
  -webkit-transform: rotate(180deg) translate(0px, 0);
  transform: rotate(180deg) translate(0px, 0);
  width: 19px; }
.tcon--plus-minus.is-transformed:after {
  -webkit-transform: rotate(-180deg) translate(-15px, 0);
  transform: rotate(-180deg) translate(-15px, 0);
  width: 19px; }

.tcon-vid--play {
  padding-top: 0;
  padding-bottom: 0;
  width: 40px;
  height: 40px;
  transition: 0.3s all ease-in-out;
  -webkit-transform-origin: center center;
  transform-origin: center center; }
  .tcon-vid--play:after {
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent black;
    content: "";
    display: block;
    height: 0;
    width: 40px; }
  .tcon-vid--play.is-transformed {
    background: black;
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); }

.tcon-loader--spinner {
  border-radius: 80%;
  height: 50px;
  width: 50px;
  position: relative;
  -webkit-animation: spin 0.675s linear 0 infinite normal;
  animation: spin 0.675s linear 0 infinite normal;
  background: lightgray; }
  .tcon-loader--spinner:before, .tcon-loader--spinner:after {
    content: "";
    display: block;
    position: absolute; }
  .tcon-loader--spinner:before {
    border-radius: 0 90px 90px 0;
    height: 50px;
    width: 50%;
    top: 0;
    right: 0;
    background: black;
    background-image: linear-gradient(lightgray, black);
    z-index: 1; }
  .tcon-loader--spinner:after {
    border-radius: 80%;
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: white;
    z-index: 1; }

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
