---
basename: builder
title: Transformicons Builder
description: Animated icons, symbols and buttons using SVG and CSS
layout: default
---
<h2>Builder</h2>
<form action="#" id="tcon-builder" role="form">
  <div class="tcons-build__options">
    <fieldset>
      <legend>Icons</legend>

      <h3 class="tcon-builder__title">Menu</h3>
      <ul class="tcons-items list-reset">
        <li>
          {{> menu-xbutterfly}}
          <label for="tcon-menu--butterfly">
            <input class="tcon-builder-input" id="tcon-menu--butterfly" type="checkbox" data-transform="menu=xbutterfly" checked> Menu to X (Butterfly Style)
          </label>
        </li>
        <li>
          {{> menu-minus}}
          <label for="tcon-menu--minus">
          <input class="tcon-builder-input" id="tcon-menu--minus" type="checkbox" data-transform="menu=minus"> Menu to Minus
          </label>
        </li>
        <li>
          {{> menu-xcross}}
          <label for="tcon-menu--xcross">
          <input class="tcon-builder-input" id="tcon-menu--xcross" type="checkbox" data-transform="menu=xcross"> Menu to X (Crossover Style)
          </label>
        </li>
        <li>
          {{> menu-arrowup}}
          <label for="tcon-menu--arrowup">
          <input class="tcon-builder-input" id="tcon-menu--arrowup" type="checkbox" data-transform="menu=arrowup"> Menu to Upwards Arrow
          </label>
        </li>
        <li>
          {{> menu-arrow360}}
          <label for="tcon-menu--arrow360">
          <input class="tcon-builder-input" id="tcon-menu--arrow360" type="checkbox" data-transform="menu=arrow360"> Menu Arrow Spins 360deg
          </label>
        </li>
        <li>
          {{> menu-arrowleft}}
          <label for="tcon-menu--arrowleft">
          <input class="tcon-builder-input" id="tcon-menu--arrowleft" type="checkbox" data-transform="menu=arrowleft"> Menu Arrow Points Left
          </label>
        </li>
      </ul>

      <h3 class="tcon-builder__title">Grid</h3>
      <ul class="tcons-items list-reset">
        <li>
          {{> grid-collapse}}
          <label for="tcon-grid--collapsex">
          <input class="tcon-builder-input" id="tcon-grid--collapsex" type="checkbox" data-transform="grid=collapse"> Collapse to X
          </label>
        </li>
        <li>
          {{> grid-rearrange}}
          <label for="tcon-grid--rearrangex">
          <input class="tcon-builder-input" id="tcon-grid--rearrangex" type="checkbox" data-transform="grid=rearrange"> Rearrange to X
          </label>
        </li>
      </ul>

      <h3 class="tcon-builder__title">Add/Rm</h3>
      <ul class="tcons-items list-reset">
        <li>
          {{> plus-minusfold}}
          <label for="tcon-addrm--plusminusfold">
            <input class="tcon-builder-input" id="tcon-addrm--plusminusfold" type="checkbox" data-transform="plus=minusfold"> Plus to Minus <small>(Fold Style)</small>
          </label>
        </li>
        <li>
          {{> plus-minus}}
          <label for="tcon-addrm--plusminusrotate">
            <input class="tcon-builder-input" id="tcon-addrm--plusminusrotate" type="checkbox" data-transform="plus=minusrotate"> Plus to Minus <small>(Rotate Style)</small>
          </label>
        </li>
      </ul>

      <h3 class="tcon-builder__title">Mail</h3>
      <ul class="tcons-items list-reset">
        <li>
          {{> mail-envelope}}
          <label for="tcon-mail--env">
            <input class="tcon-builder-input" id="tcon-mail--env" type="checkbox" data-transform="mail=envelope"> Envelope
          </label>
        </li>
      </ul>

      <h3 class="tcon-builder__title">Loaders</h3>
      <ul class="tcons-items list-reset">
        <li>
          {{> loader-spinner360}}
          <label for="tcon-loader--spinner360">
            <input class="tcon-builder-input" id="tcon-loader--spinner360" type="checkbox" data-transform="loader=spinner360"> Spinning 360 Loader
          </label>
        </li>
      </ul>
    </fieldset>

    <fieldset>
      <legend>Output</legend>
      <h3 class="tcon-builder__title">Styles</h3>

      <label for="tcon-stylesheet--css">
        <input type="radio" name="tcon_stylesheet" id="tcon-stylesheet--css" value="css" checked> CSS
      </label>

      <label for="tcon-stylesheet--sass">
        <input type="radio" name="tcon_stylesheet" id="tcon-stylesheet--sass" value="scss"> Sass
      </label>

      <h3 class="tcon-builder__title">JavaScript</h3>
      <label for="tcon-stylesheet--jsmin">
        <input type="radio" name="tcon_javascript" id="tcon-stylesheet--jsmin" value="minified=true" checked> Minified
      </label>

      <label for="tcon-script--jsunmin">
        <input type="radio" name="tcon_javascript" id="tcon-script--jsunmin" value="minified=false"> Unminified
      </label>
    </fieldset>
  </div>

  <input type="submit" class="tcon-btn" value="Build">
</form>

<div class="tcon-src">
  <div class="tcon-src__html">
    <h3>Markup</h3>
    <div>
      <pre><code class="language-html"><textarea id="tcon-src--html"></textarea></code></pre>
    </div>
  </div>

  <div class="tcon-src__styles">
    <h3>Styles</h3>
    <div>
      <pre><code id="tcon-src" class="language-scss"><textarea id="tcon-src--styles"></textarea></code></pre>
    </div>
  </div>

  <div class="tcon-src__js">
    <h3>JavaScript</h3>
    <div>
      <pre class="language-javascript"><code><textarea id="tcon-src--js"></textarea></code></pre>
    </div>
  </div>
</div>