---
basename: error
title: Transformicons Application Error
description: application error on heroku
layout: errors
---
<div class="section" style="padding:20px 0 40px;">
  <h2 style="font-weight: bold;color:#1E1C3D">Application Error</h2>
  <div class="article" style="text-align: center;">
    <p>An error occurred in the application.  Please refresh again in a few moments.</p>
    <p>If you're the application owner, check your logs for details.</p>
  </div>
</div>