---
basename: index
title: Transformicons
description: Animated symbols and buttons packaged for Sass & CSS
---
<div class="tcon-row">
  <h3>Menu</h3>
  <div class="tcon-row__items">
    {{> menu-xcross}}
    {{> menu-xbutterfly}}
    {{> menu-arrowup}}
    {{> menu-arrow360}}
    {{> menu-arrowleft}}
    {{> menu-minus}}
  </div>
</div>

<div class="tcon-row">
  <h3>Grid</h3>
  <div class="tcon-row__items">
    {{> grid-rearrange}}
    {{> grid-collapse}}
    {{> grid-rearrange}}
    {{> grid-collapse}}
  </div>
</div>

<div class="tcon-row">
  <h3>Add/Remove</h3>
  <div class="tcon-row__items">
    {{> plus-minus}}
    {{> plus-check}}
    {{> plus-minusfold}}
    {{> plus-circle}}
  </div>
</div>

<div class="tcon-row">
  <h3>Mail</h3>
  <div class="tcon-row__items">
    {{> mail-envelope}}
  </div>
</div>

<div class="tcon-row">
  <h3>Video</h3>
  <div class="tcon-row__items">
    {{> vid-play}}
  </div>
</div>

<div class="tcon-row">
  <h3>Loaders</h3>
  <div class="tcon-row__items">
    {{> loader-spinner360}}
    {{> loader-circlearrow}}
  </div>
</div>