---
basename: index
title: Transformicons The Animated Icon Builder
description: Animated symbols and buttons packaged for Sass and CSS. We also provide a builder that gives developers the ability to select their preferred Transformicons and output for finer control.
layout: default
path: /
---
<div class="tcon-row">
  <h3>Menu</h3>
  <div class="tcon-row__items">
    {{> menu-xbutterfly}}
    {{> menu-minus}}
    {{> menu-xcross}}
    {{> menu-arrowup}}
    {{> menu-arrow360}}
    {{> menu-arrowleft}}
  </div>
</div>

<div class="tcon-row">
  <h3>Grid</h3>
  <div class="tcon-row__items">
    {{> grid-rearrange}}
    {{> grid-collapse}}
  </div>
</div>

<div class="tcon-row">
  <h3>Add/Remove</h3>
  <div class="tcon-row__items">
    {{> addrm-plus-minusrotate}}
    {{> addrm-plus-check}}
    {{> addrm-remove-check}}
    {{> addrm-remove-chevron-left}}
    {{> addrm-remove-chevron-right}}
    {{> addrm-remove-chevron-down}}
    {{> addrm-remove-chevron-up}}
  </div>
</div>

<div class="tcon-row">
  <h3>Mail</h3>
  <div class="tcon-row__items">
    {{> mail-envelope}}
  </div>
</div>

<div class="tcon-row">
  <h3>Scroll Indicators</h3>

  <div class="tcon-row__items">
    {{> indicator-svgchevron}}
  </div>
</div>

<div class="tcon-row">
  <h3>Forms</h3>
  <div class="tcon-row__items">
    {{> search-xcross}}
  </div>
</div>

<div class="tcon-row">
  <h3>Video</h3>
  <div class="tcon-row__items">
    {{> vid-play}}
  </div>
</div>

<div class="tcon-row">
  <h3>Loaders</h3>
  <div class="tcon-row__items">
    {{> loader-spinner360}}
  </div>
</div>
