.transformicon-grid {
  padding: $tcon-grid-base*2;

  .transformicon__grid-item {
    width: $tcon-grid-base;
    height: $tcon-grid-base;
    background: $tcon-grid-color;
    color: $tcon-grid-color; /* Not in use when the colors are specified below */
    transition: $tcon-grid-transition;
  }

  &.is--closed {
    .transformicon__grid-item {
      transform: rotate3d(0,0,1,-45deg)  scale3d(.8,.8,.8);
    }
  }
}

.transformicon-grid--rearrange {
  .transformicon__grid-item {
    box-shadow:
      -($tcon-grid-base+$tcon-grid-space) 0 -($tcon-grid-base+$tcon-grid-space),
      0 0 -($tcon-grid-base+$tcon-grid-space),
      ($tcon-grid-base+$tcon-grid-space) (-($tcon-grid-base + $tcon-grid-space)),
      -($tcon-grid-base+$tcon-grid-space) 0,
      $tcon-grid-base+$tcon-grid-space 0,
      -($tcon-grid-base+$tcon-grid-space) ($tcon-grid-base + $tcon-grid-space),
      0 ($tcon-grid-base+$tcon-grid-space),
      ($tcon-grid-base+$tcon-grid-space) ($tcon-grid-base + $tcon-grid-space);
  }

  &.is--closed { 
    .transformicon__grid-item {
        box-shadow:
          0 0 -$tcon-grid-base,
          0 0 -$tcon-grid-base*2,
          $tcon-grid-base 0,
          -$tcon-grid-base*2 0,
          $tcon-grid-base*2 0,
          -$tcon-grid-base 0,
          0 $tcon-grid-base*2,
          0 $tcon-grid-base;
    }
  }
}

.transformicon-grid--collapse {
  .transformicon__grid-item {
    box-shadow:
    -($tcon-grid-base+$tcon-grid-space) 0,
    -($tcon-grid-base+$tcon-grid-space) ($tcon-grid-base+$tcon-grid-space),
    $tcon-grid-base+$tcon-grid-space 0,
    ($tcon-grid-base+$tcon-grid-space) (-($tcon-grid-base+$tcon-grid-space)),
    0 0 -($tcon-grid-base+$tcon-grid-space),
    -($tcon-grid-base+$tcon-grid-space) 0 -($tcon-grid-base+$tcon-grid-space),
    0 ($tcon-grid-base+$tcon-grid-space),
    ($tcon-grid-base+$tcon-grid-space) ($tcon-grid-base+$tcon-grid-space);
  } 
}

.transformicon-grid--collapse{
  &.is--closed {
    .transformicon__grid-item {
      box-shadow:
      -$tcon-grid-base 0,
      0 0 transparent,
      $tcon-grid-base 0,
      0 0 transparent,
      0 0 -$tcon-grid-base,
      0 0 transparent,
      0 $tcon-grid-base,
      0 0 transparent;
    }
  }
}