<button type="button" class="tcon tcon-grid tcon-grid--collapse" aria-label="toggle grid">
  <span class="tcon-grid__item" aria-hidden="true"></span>
  <span class="tcon-visuallyhidden">toggle grid</span>
</button>