<button type="button" class="tcon tcon-menu--arrow tcon-menu--arrowleft" aria-label="toggle menu">
  <span class="tcon-menu__lines" aria-hidden="true"></span>
  <span class="tcon-visuallyhidden">toggle menu</span>
</button>