<nav role="navigation">
  <a href="builder.html"{{#is basename "builder"}} class="active"{{/is}}>Builder</a>
  <a href="docs.html"{{#is basename "docs"}} class="active"{{/is}}>Documentation</a>
  <a href="//github.com/grayghostvisuals/transformicons">GitHub</a>
</nav>