<footer role="contentinfo">
  <div class="github-data">
    <h3>Join us on <a href="//github.com/grayghostvisuals/transformicons">GitHub</a> <span> <a href="//github.com/grayghostvisuals/transformicons/graphs/contributors"><span class="data contributors">&nbsp;</span> Contributors</a> <a href="//github.com/grayghostvisuals/transformicons"><span class="data stars">&nbsp;</span> Stars</a> <a href="//github.com/grayghostvisuals/transformicons/issues"><span class="data open-issues">&nbsp;</span> Open Issues</a></span></h3>
    <ul id="tcons-contributors"></ul>
    <ul class="tcons-pager tcons-contributors__pagination"></ul>
  </div>

  <small>Project licensed under <a href="//opensource.org/licenses/MIT">MIT</a> &copy; <span class="tcons-copyright"></span>. Props to <a href="//bennettfeely.com">Bennett Feely</a> and <a href="//sarasoueidan.com">Sara Soueidan</a>.</small>
  <small>Read the <a href="//sarasoueidan.com/blog/navicon-transformicons">article</a> on making transformicons by Sara Soueidan</small>
  <p class="tcons-notice">Notice an issue or want to help? <a href="//github.com/grayghostvisuals/transformicons">Please contribute</a>.</p>
</footer>