---
basename: docs
title: Transformicons Documentation
description: References and Explanation
keywords: transformicons, animated icons, icons, symbols, svg, docs, documentation
path: /docs.html
---
<% _.forEach(fragments, function(fragment) { %>
  <section class="fragment">
    <%= fragment.body %>
  </section>
<% }) %>
