.tcon-menu--minus {
  width: auto;

  &.is-transformed {

    .tcon-menu__lines {

      &::before,
      &::after {
        transform: none;
        top:0;
        width: $tcon-size;
      }

    }

  }

}
