@mixin tcon_triangle($point, $border-width, $color) {
	border: $border-width solid transparent;
		@if $point == left {
		border-#{right}: $border-width solid $color;
	}
	@if $point == right {
		border-#{left}: $border-width solid $color;
	}
	@if $point == top {
		border-#{bottom}: $border-width solid $color;
	}
	@if $point == bottom {
		border-#{top}: $border-width solid $color;
	}
	@else if $point == null {
		border: none;
	}
	border-#{$point}: 0;
	height: 0;
	width: 0;
}

.tcon--play {
	@include tcon_triangle(right, 20px, black);
	padding: 0;
	transition: .3s all ease-in-out;
	&.is-transformed {
		@include tcon_triangle(inherit, inherit, transparent);
		background: black;
		height: auto;
		width: 20px;
	}
}

// .tcon--playpause {
// 	@include tcon_triangle(right, 24px, black);
// 	padding: 0;
// 	transition: .3s all ease-in-out;

// 	&.is-transformed {
// 		@include tcon_triangle(inherit, inherit, transparent);
// 		border: inherit solid transparent;
// 		background: black;
// 		height: auto;
// 		width: 48px;
// 		&:before {}
// 		&:after {}
// 	}
// }