// http://triangle.designyourcode.io
$color: black;

.tcon--play {
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  width: $tcon-size;
  height: $tcon-size;
  transition: .3s all ease-in-out;
  transform-origin: center center;
  &:after {
    border-style: solid;
    border-width: $tcon-size/2 0 $tcon-size/2 $tcon-size/2;
    border-color: transparent transparent transparent $color;
    content: "";
    display: block;
    height: 0;
    width: $tcon-size;
  }
  &.is-transformed {
    background: $color;
    transform: rotate(-360deg);
  }
}