@mixin tcon-triangle($point, $border-width, $color) {
  border: $border-width solid transparent;

  @if $point == left {
    border-right: $border-width solid $color;
  }

  @if $point == right {
    border-left: $border-width solid $color;
  }

  @if $point == top {
    border-bottom: $border-width solid $color;
  }

  @if $point == bottom {
    border-top: $border-width solid $color;
  }

  @else if $point == null {
    border: none;
  }

  border-#{$point}: 0;
  height: 0;
  width: 0;
}


.tcon--play {
  @include tcon-triangle(right, 20px, black);
  padding: 0;

  &.is-transformed {
    @include tcon-triangle(inherit, inherit, transparent);
    background: black;
    width: $tcon-size;
  }

}
