.tcon-arrow {
  width: auto;

  &.is-transformed {

    .tcon__lines {

      &::before,
      &::after {
        top: 0;
        width: ($tcon-size / 1.8);
      }

      &::before {
        transform: rotate3d(0, 0, 1, 45deg);
      }

      &::after {
        transform: rotate3d(0, 0, 1, -45deg);
      }

    }

  }

}


.tcon-arrow--up {
	width: auto;

	&.is-transformed {
    transform: scale3d(.8,.8,.8) rotate3d(0, 0, 1,90deg);
  }

}


.tcon-arrow--rotate {

	&.is-transformed {
    transform: rotate3d(0, 0, 1, 360deg);
  }

}