.tcon-x2 {
	width: auto;

	.tcon__lines {
		transition: background .3s .5s ease;

		&:before,
		&:after {
			transform-origin: 50% 50%;
			transition: top .3s .6s ease, transform .3s ease;
		}
	}

	&.is-transformed {
		.tcon__lines {
			transition: background .3s 0s ease;
			background: transparent;

			&:before,
			&:after{
				transition: top .3s ease, transform .3s .5s ease;
				top:0;
				width: $tcon-size;
			}

			&:before { transform: rotate3d(0,0,1,45deg); }
			&:after { transform: rotate3d(0,0,1,-45deg); }
		}
	}
}